body {
    font-family: Arial, sans-serif;
    background-color: #deedff;
    height: 100vh;
    color: #deedff;
}

.bg-1 {
    background-color: #deedff;
}

.bg-2 {
    background-color: #3a506b;
}

.bg-3 {
    background-color: #1c2541;
}

.bg-4 {
    background-color: #0b132b;
}

.container-fluid {
    height: 100vh;
    width: 100%;
    padding: 0;
}

.col{
    height: 100%;
}

/* .br-tl{
    border-top-left-radius: 25px;
}
.br-bl{
    border-bottom-left-radius: 25px;
}
.br-tr{
    border-top-right-radius: 25px;
}
.br-br{
    border-bottom-right-radius: 25px;
} */

.mt-75{
    margin-top: 7rem;
}

.mt-120{
    margin-top: 8.6rem;
}

.ta{
    color: #deedff;
    border: 0;
    outline: none;
}

.fixed-rows{
    resize: none;
    height: calc(1.5em * 15);
}

button{
    border: 0;
    outline: none;
    background-color: #1c2541;
    color: #deedff;
    cursor: pointer;
}

.custom-select {
    background-color: #1c2541;
    color: #deedff; /* Warna teks */
    border: none; /* Border */
    padding: 5px; /* Padding */
    outline: none;
  }
  
.custom-select option {
background-color: #f0f0f0;
color: #0b132b;
}

.input-shift{
    background-color: #1c2541;
    color: #deedff;
    text-align: center;
    border: none;
    outline: none;
    width: 5rem;
}

/* font */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* endfont */